@font-face {
  font-family: 'iconfont';  /* project id 3086289 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3086289_4mzdk1i74t.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_3086289_4mzdk1i74t.woff') format('woff'),
  url('//at.alicdn.com/t/font_3086289_4mzdk1i74t.ttf') format('truetype'),
  url('#iconfont') format('svg');
}

.icon-font {
  font-family: 'iconfont';
}
